.content {
  padding: 1em 1em;

  h1 {
    font-size: 1.3em;
    padding: 0.5em 0;
  }

  h2 {
    font-size: 1.25em;
    padding: 0.25em 0;
  }

  .sub-section {
    margin-bottom: 5em;
  }

  a {
    color: $darkgrey;

    &:hover {
      color: white;
      background-color: $darkgrey;
    }
  }
  
  li {
    padding: 0.25em 0;
  }

    @include breakpoint(smaller) {
    padding: 1em 2em;

    h1 {
      font-size: 2em;
      padding: 0.5em 0;
    }

    h2 {
      font-size: 1.6em;
      padding: 0.25em 0;
    }
  }

  @include breakpoint(big) {
    padding: 1em 3.5em;
  }

  @include breakpoint(bigger) {
    padding: 1em 10em;
  }

}
