// .entry-header,
// .page-content-header {
//   background-color: $darkgrey;
//   color: white;

//   h1 {
//     display: inline-block;
//   }

//   @media (min-width: 635px) {
//     font-size: 1.2em;
//   }

// }

%header {
  background-color: $darkgrey;
  color: white;
  padding: 0.5em;
}

.page-header {
  @extend %header;
}
.entry-header {
  @extend %header;

  a {
    color: white;
    &:hover {
      color: $darkgrey;
      background-color: white;
    }
  }
}

.site-content {
  background-image: url("../img/dark_wood.png");
  padding-bottom: 2.5em;
}

.post,
.page-content {
  border-top: $generic-section-border;
  border-bottom: $generic-section-border;
  background-image: url("../img/cardboard_flat.png");
  margin: 2.5em auto;
  max-width: $max-width;

  @include breakpoint(smaller) {
    border: $generic-section-border
  }
}

.recommended-reading {
  .title {
    font-style: italic;
  }

  .author {
    &:before {
      content: " -";
    }
  }
}
