$content-border: 5px;

$letter-spacing: 2px;

$darkgrey: rgb(32,32,32);

$lightgrey: rgb(190,190,190);

$max-width: 1100px;

$generic-section-border: 3px solid white;

@mixin breakpoint($point) {
  @if $point == biggest {
    @media (min-width: 1700px) { @content; }
  }
  @if $point == bigger {
    @media (min-width: 1000px) { @content; }
  }
  @if $point == big {
    @media (min-width: 700px) { @content; }
  }
  @if $point == smaller {
    @media (min-width: 420px) { @content; }
  }
}

.group:after {
  content: "";
  display: table;
  clear: both;
}