$content-border: 5px;

$letter-spacing: 2px;

$darkgrey: rgb(32,32,32);

$lightgrey: rgb(190,190,190);

$max-width: 1000px;

$generic-section-border: 3px solid white;

@mixin breakpoint($point) {
  @if $point == biggest {
    @media (min-width: 1700px) { @content; }
  }
  @if $point == bigger {
    @media (min-width: 1000px) { @content; }
  }
  @if $point == big {
    @media (min-width: 700px) { @content; }
  }
  @if $point == smaller {
    @media (min-width: 420px) { @content; }
  }
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;

  background: $darkgrey;
  color: white;
  padding: 1em 2em;

  &:active,
  &:visited {
    background: $darkgrey;
    color: white;
  }

  &:hover,
  &:focus {
    background: white;
    color: $darkgrey;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}